doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title="Быстрый запуск Webpack"
    body
        p Файл оптимизирован шаблонизатором Pug.asdkvma;d
        .logo-png
            img(src=require("../images/logo.png") alt="")
        .logo-svg
            img(src=require("../images/logo.svg") alt="")